.card{
    display: flex;
    align-items: center;
    width: 600px;
    padding: 0 0.5rem;
}
.card--image{
    width: 150px;
    height: 180px;
    border-radius: 5px;
    align-self: center;
}
.card--details{
    padding-left: 20px;
}
.card--location{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
#icon-location{
    width: 8px;
    height: 12px;
}
.card--country{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
    color: #2B283A;
}
.card--link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    text-decoration-line: underline;
    color: #918E9B;
}
.details--title{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
    margin-top: -5px;
}
.details--date{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 10.24px;
    line-height: 5px;
    color: #2B283A;
}
.details--des{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 11px;
    line-height: 150%;
    color: #2B283A;
}
